:root {
  --primary: #3849aa;
  --accent: #ff5c8d;
  --text: #ffffff;
  --gray: #eeeeee;
  --spacing: 16px;
  --spacing-negative: -16px;
  --half-spacing: 8px;
  --left-width: 275px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

body {
  padding: var(--spacing);
  background: var(--gray);
}

section {
  padding: var(--spacing);
  background: var(--primary);
  color: var(--text);
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  text-align: justify;
  line-height: 1.5rem;
}

.image {
  min-height: var(--left-width);
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('img/Profile.jpg');
  background-position: center;
  margin: 0 0 var(--spacing);
}
.image-personal-data {
  display: flex;
}
.personal-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}
.contact {
  display: none;
}

.left-panel, .right-panel {
  margin: var(--spacing);
}

.personal-data section + section {
  margin-top: var(--spacing);
}

.image img {
  display: none;
}
.personal-info .name {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}
.contact-details {
  display: flex;
  flex-direction: column;
}

.experience header,
.personal-details header,
.skills header,
.education header,
.about-me header {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px solid var(--gray);
  margin: 0 var(--spacing-negative) var(--spacing) var(--spacing-negative);
  padding: 0 var(--spacing) var(--spacing);
}

.sub-list {
  margin: 0 0 0 var(--half-spacing);
}

li {
  margin: var(--half-spacing) 0;
  display: flex;
}
h3 {
  color: var(--accent);
  font-weight: 900;
  font-size: 1.25rem;
}
h4 {
  color: var(--accent);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.75rem;
}
h5 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
h6 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: white;
}

.icon {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--half-spacing) 0 0;
}
.skills-table {
  display: flex;
}
.skills-table__column:first-child {
  margin-right: 50px;
}

.about-me {
  box-sizing: border-box;
  min-height: 377px;
}

.GDPR {
  font-size: 0.75rem;
  background: var(--primary);
  color: var(--text);
  margin: var(--spacing);
  padding: var(--spacing);
}

@media (min-width: 480px) {
  .image-personal-data {
    display: flex;
    flex-direction: row;
  }
  .image {
    width: 100%;
    margin: 0 var(--spacing) 0 0;
  }
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
  .personal-data {
    display: none;
  }
  .contact {
    display: flex;
  }
  .left-panel {
    flex: 0 0 var(--left-width);
  }
  .right-panel {
    flex: 1 0 0;
  }
  .image {
    width: 100%;
    margin: 0;
  }

  
}

@media print {
  :root {
    --text: black;
  }
  .image img {
    display: block;
    width: auto;
    height: var(--left-width);
    margin: 0 auto;
  }
  @page {
    size: A4;
    padding-top: 10mm;
    padding-bottom: 10mm;
  }

  html, body {
    font-size: 8px;
    background: #FFF;
    overflow: hidden;
  }

  .break-page {
    page-break-after: always;
  }
}
